*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.pharagraph{
    color: #242742 ;
    size: 56px;
    
 

}
.email{ 
    size: 12px;
    counter-reset:#242742;
}
.button1 {
    width: 376px;
    height: 56px;
    font-size: 16px;
    

}
.button2{
    width: 376px;
    height: 56px;
    background-color:#242742;
    font-size: 16px;
    color: white;
    box-shadow: 30;
}
